<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Movies</title>
    <!-- includo Bootstrap dal fragment -->
    <div th:replace="fragments :: bootstrap"></div>
</head>

<body>
    <h1>Migliori Film</h1>
    <ul class="list-group mt-3">
        <li th:each="movie : ${movies}" class="list-group-item" th:text="${movie.movieTitle}"></li>
    </ul>
    <p><a th:href="@{/}">Torna alla home</a></p>
</body>

</html>