<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Canzone</title>
    <!-- includo Bootstrap dal fragment -->
    <div th:replace="fragments :: bootstrap"></div>
</head>

<body>
    <h1>Canzone selezionata</h1>
    <p th:text="${title}"></p>
    <p><a th:href="@{/songs}">Torna alle canzoni</a></p>
    <p><a th:href="@{/}">Torna alla home</a></p>
</body>

</html>