<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Canzone</title>
    <!-- includo Bootstrap dal fragment -->
    <div th:replace="fragments :: bootstrap"></div>
</head>

<body>
    <div th:replace="fragments :: navbar"></div>

    <div class="container text-center mt-5">
        <h2>Song Detail</h2>

        <div class="card mx-auto mt-3" style="max-width: 400px;">
            <div class="card-body">
                <h4 class="card-title" th:text="${title}"></h4>
            </div>
        </div>

        <a th:href="@{/songs}" class="btn btn-secondary mt-3">Torna alle canzoni</a>
    </div>
</body>

</html>